@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,400&display=swap');

:root {
    --primary-color: #00fb37;
    --primary-variant: #00BF2A;
    --secondary-color: #01DBF9;
    --text-color:rgba(245, 245, 245, 0.85);
    --on-primary: #040404;
    --on-background: #1C1D20;
    --on-background-alt: rgba(28, 29, 32, 0.5);
    --background: #040404;
  }
  
[data-theme="light"] {
    --primary-color: #00BF2A;
    --primary-variant: #1B8031;
    --secondary-color: #02889B;
    --text-color:rgb(4, 4, 4, 0.85);
    --on-primary: #F5F5F5;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgba(255, 255, 255, 0.7);
    --background: #F5F5F5;
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  }

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2300bf2a' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title {
    font-family: 'Grenze Gotisch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: var(--on-background);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primary-variant);
    opacity: 0.8;
    text-shadow: 0px 2px 6px var(--secondary-color);
    padding: 10px;
    margin-bottom: 80px;
    display: block;
    text-align: center;
}

.container {
    width:800px;
    max-width: 80%;
    padding: 10px;
    border: 2px solid;
    border-color: var(--primary-variant);
    border-radius: 3px;
    background-color: var(--background);
    box-shadow: 0 0 5px 1px var(--primary-color);
    color: var(--text-color);
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
}

#text {
    margin: 10px;
    text-align: justify;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2px;
    margin-top: 20px;
}

.btn {
    background-color: var(--background);
    border: 2px solid var(--primary-variant);
    box-shadow: 0 0 1px 1px var(--primary-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2rem;
    outline: none;
}

.btn:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 1px 1px var(--secondary-color);
    font-style: inherit;
}